.home__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  height: 100vh;
}


@media (min-width: 1000px) {
  .home__container {
    grid-template-columns: 50ch 1fr;
    grid-template-rows: 1fr 1fr;
  }  
}