:root {
  --clr-secondary: hsl(36, 100%, 50%);
  --clr-primary: hsl(240, 100%, 50%);
  --clr-info: hsl(214, 84%, 56%);
  --clr-success: hsl(145, 63%, 42%);
  --clr-warning: hsl(45, 74%, 56%);
  --clr-error: hsl(0, 79%, 63%);
  --clr-black-1: hsl(0, 0%, 0%);
  --clr-black-2: hsl(0, 0%, 11%);
  --clr-white: hsl(0, 0%, 100%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

li,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-items: center;
}

main {
  margin-top: 15vh;
}
