.nav__container {
  /* margin-block: 1.5rem; */
}

.nav__link {
  /* background-color: black; */
}

.nav__logo {
  width: 100px;
  margin-top: 5vh;
  margin-left: 1.5rem ;
}

.nav__menu {
  width: 50px;
  height: 50px;
}
.nav__toggle{
  position: absolute;
  top: 5vh;
  right: 1.5rem;
  background: transparent;
  border: none;
  padding: 0;
  z-index: 10;
}


.nav__bar {
  position: absolute;
  background-color: beige;
  color: var(--clr-black-1);
  padding: 1.5rem;
  border-radius: 25px;
  width: 100%;
  top: 5vh;
  transform: translateX(-500px);
  z-index: 9;
}

.nav__bar.show {
  transform: translateX(0);
  transition: transform 0.25s ease-in-out;
}